
header .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-space .anticon {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.ant-space:hover .anticon {
  opacity: 1;
  visibility: visible;
}

/* .ant-btn{
    padding: 15px;
} */
.ant-space-item {
  font-size: 17px;
  font-weight: 600;
}
