.Searchbar {
  width: 45%;
  height: 45px;
  background-color: #f1f1f1fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  border-radius: 8px;
  color: #333;
}
.Searchbar input {
  width: 90%;
  border: none;
  background: transparent;
  padding: 15px;
  font-size: 16px;
  outline: none;
}

.Searchbar button {
  background: transparent;
  border: none;
  font-size: 19px;
  cursor: pointer;
  color: #888;
}
.Searchbar button i {
  transition: all ease-in-out 0.3s;
}
.Searchbar button i:hover {
  color: red;
  transition: all ease-in-out 0.3s;
}
