body {
  position: relative;
  z-index: -1;
}
header {
  width: 100%;
  height: 80px;
  padding: 14px 60px;
  background: rgba(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.04) 0px -1px 2px, rgba(0, 0, 0, 0.04) 0px 1px 2px,
    rgba(0, 0, 0, 0.04) 0px 3px 4px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.shoe-list,
.women-clothes-list,
.men-clothes-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shoe-list .shoe-card,
.women-clothes-list .women-card,
.men-clothes-list .men-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: relative;
}
.addToCart,
.favorite,
.ant-rate {
  margin: 10px 0;
}

.shoe-list .shoe-card img,
.women-clothes-list .women-card img,
.men-clothes-list .men-card img {
  width: 100%;
  height: 360px;
  object-fit: contain;
  transition: transform 0.7s ease-in-out;
}
.shoe-list .shoe-card img:hover,
.women-clothes-list .women-card img:hover,
.men-clothes-list .men-card img:hover {
  transform: scaleX(-1);
}
.addToCart {
  width: 100px;
  height: 32px;
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  font-size: 10px;
  font-weight: 700;
  border-radius: 6px;
  padding: 0px 8px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}
.favorite, .removeFromFav {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 17px;
  color: #777;
  margin: 10px 5px;
  cursor: pointer;
}

.shoe-list .shoe-card .favorite,
.women-clothes-list .women-card .favorite,
.men-clothes-list .men-card .favorite {
  position: absolute;
  bottom: 0;
  right: 8px;
}
.addToCart:hover{
  opacity: 1;
}
.shoe-list a,
.women-clothes-list a,
.men-clothes-list a {
  text-decoration: none;
  color: #333;
}

.ant-rate {
  font-size: 14px;
}
.active {
  color: rgb(204, 0, 0);
}
